# Task Service example configuration
TASK_DB_IMAGE=postgres:16-alpine
TASK_DB_CONTAINER_NAME=task-service-db
TASK_DB_USER=your_db_user
TASK_DB_PASSWORD=your_db_password
TASK_DB_NAME=your_db_name
TASK_DB_HOST_PORT=5433
TASK_DB_DATA_VOLUME=task-service-db-data
TASK_DB_SCHEMA_FILE=../microservices/task-service/db/schema.sh
TASK_DB_SEED_FILE=../microservices/task-service/db/seed.sh

TASK_SERVICE_IMAGE=dmindrescu/task-service:v1.2.0
TASK_SERVICE_CONTAINER_NAME=task-service
TASK_SERVICE_PORT=8070
TASK_SERVICE_HOST_PORT=8070
TASK_SERVICE_NAME=task-service
TASK_SERVICE_DB_DSN=postgres://your_db_user:your_db_password@task-service-db:5432/your_db_name?sslmode=disable
