# Server
PORT=6001

# Database
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=shop_db
POSTGRES_HOST=shop-db
POSTGRES_PORT=5432
POSTGRES_EXPOSE_PORT=6100

RUN_TESTS = false

SERVICE_NAME=shop-service
SERVICE_INSTANCE_ID=shop-1
SERVICE_PORT=6100
SERVICE_HOST=shop-service
SERVICE_PUBLIC_URL=http://shop-service:6100
BROKER_URL=http://message-broker:4000
LOG_LEVEL=info