DB_HOST="rumors-db"
DB_USER="postgres"
DB_PASSWORD="password"
DB_NAME="rumors"
DB_VERSION="14-alpine"
DB_VOLUME="rumors-db-data"

SVC_VERSION="v1"
SVC_PORT_START="8080"
SVC_PORT_END="8081"

GATEWAY_URL="http://gateway:3000"
