DB_HOST="communication-db"
DB_USER="postgres"
DB_PASSWORD="password"
DB_NAME="communication"
DB_VERSION="14-alpine"
DB_VOLUME="communication-db-data"

SVC_VERSION="v1"
SVC_HOST="communication-service"
SVC_PORT="8080"
